
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.head {
    color: black;
text-align: center;
font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    
}

#head{
    font-weight: bold;
    font-size: 48px;
 font-family:fantasy;
top: -50px;
opacity: 0;
animation: head 5s ease-in-out forwards;
padding-bottom: 10px;

}

.head:hover:hover #drop-text {
    top: 0;
    /* Move text to its original position */
    opacity: 1;
    /* Fade in */
}

@keyframes head {
    0% {
        top: -50px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.searchbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: rgb(198, 193, 193);
    font-family: Arial;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;

    

}

.entrees{
    border: hidden;
    border-radius: 50px;
    margin: 50px;
    background-color: rgb(247, 242, 242);
    box-shadow: 0 10px 10px  gray;
    height: 70vh;
    width: 90vw;
   
    
}

#food-serve{
    height:300px;
    width: 100%;
    box-sizing: border-box;
    border: hidden;
    border-top-right-radius:  50px;
    border-top-left-radius:  50px;
    object-fit: cover;
}

.entree-text{
    text-align: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    font-style: italic;
}

#h1{
    font-size: 30px;
    font-weight: bold;
}

.steam{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#steam{
    height: 80px;
    width: 80px;
    opacity: 0.2;
}

#pizza{
    height: 200px;
    width: 200px;
    border: hidden;
    border-radius: 100px;
    object-fit: cover;

}


#burger {
    height: 200px;
        width: 200px;
    border: hidden;
    border-radius: 100px;
    object-fit: cover;
}


#pasta {
    height: 200px;
        width: 200px;
    border: hidden;
    border-radius: 100px;
    object-fit: cover;
}



#cury {
    height: 200px;
        width: 200px;
    border: hidden;
    border-radius: 100px;
    object-fit: cover;
}


#soup {
    height: 200px;
        width: 200px;
    border: hidden;
    border-radius: 100px;
    object-fit: cover;
}

.main{
    border: hidden;
        border-radius: 50px;
        margin: 50px;
        background-color: rgb(247, 242, 242);
        box-shadow: 0 10px 10px gray;
        
        width: 90vw;
        object-fit: cover;
}

.pizza1{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        object-fit: cover;

}

.pizza2 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
object-fit: cover;

}

.pizza3 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
object-fit: cover;

}

.pizza4 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
object-fit: cover;

}

.pizza5 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    object-fit: cover;
}

.Drink6{
    display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        object-fit: cover;
}

#pizza-text{
    text-align: center;
    padding-top: 40px;
}

    

#bold{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;

}

#not-bold{
    color: gray;
}

#price{
    font-size: 30px;
    font-weight: bold;
    color: red;
}

